@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');

@media (max-width: 404px) {
    #img-logo {
        position: sticky;
        right: 0;
    }

    .d4 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        text-shadow: 0px -4px 6px rgba(136, 156, 156, 0.79);
    }

}

body {
    background-image: linear-gradient(to bottom, rgba(2, 2, 2, 0.829), rgba(10, 9, 9, 0.397)), url("/image/bg2.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgb(230, 216, 216);
}

.d4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 0px -4px 6px rgba(136, 156, 156, 0.79);
}

.lead {
    color: white;
}


a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#img-logo {
    margin-top: -20px;

}
